# Environment variables
.env
.env.local
.env.save
*.env
node_modules/
client/node_modules/
server/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
dist/
build/
.env
